
@{
    ViewBag.Title = "Index";
}
<h1>@TempData["id"]</h1>
<h1>@TempData["x"]</h1>
<h1>@TempData["y"]</h1>
<h2>Index</h2>
<a href="~/M_Mentor/M_MentorLogIn" class="btn btn-primary">LOGIN </a>
<a href="~/M_Mentor/M_MentorInformation"class="btn btn-primary">INFORMATION </a>
<a href="~/M_Mentor/M_MentorUpdate" class="btn btn-primary">UPADTAE </a>
<a href="~/M_Mentor/M_MentorDelete" class="btn btn-primary">DELETE </a>
<a href="~/M_Student/M_MentorStudentAdd" class="btn btn-primary">STUDENT ADD </a>

<a href="~/M_Student/M_MentorStudentDelete" class="btn btn-primary">STUDENT DELETE </a>

<a href="~/M_Mentor/M_MentorLogOut" class="btn btn-primary">LOGOUT </a>