
@{
    ViewBag.Title = "M_MentorAssignment";
}

<h2>M_MentorAssignment</h2>

<form action="" method="post">
    <input type="text" name="Question" value="" class="form-control" placeholder="Question" />
    <input type="date" name="Date" value="" class="form-control" placeholder="DATE" />

    <button type="submit" class="btn btn-success">Submit</button>


</form>