
@{
    ViewBag.Title = "M_MentorCounsiling";
}

<h2>M_MentorCounsiling</h2>

<form action="" method="post">
    <input type="url" name="MeetLink" value="" class="form-control" placeholder="MEETLINK" />
    <input type="text" name="Details" value="" class="form-control" placeholder="DETAILS"/>
    <input type="date" name="Date" value="" class="form-control" placeholder="DATE" />

    <button type="submit" class="btn btn-success">Submit</button>

</form>