
@{
    ViewBag.Title = "M_MentorStudentCertificate";
}

<h2>M_MentorStudentCertificate</h2>

<form action="" method="post">
    
    <input type="text" name="Comment" value="" class="form-control" placeholder="Comment" />
    <input type="date" name="Date" value="" class="form-control" placeholder="DATE" />

    <button type="submit" class="btn btn-success">Submit</button>

</form>