
@{
    ViewBag.Title = "M_MentorConfirmDelete";
}

<h2>M_MentorConfirmDelete</h2>

<h1>Are you sure you want to delete?</h1>  <a class="btn btn-warning" href="~/M_Mentor/M_MentorDelete" role="button">DELETE</a>
