
@{
    ViewBag.Title = "M_MentorStudentResult";
}

<h2>M_MentorStudentResult</h2>

<form action="" method="post">
    <input type="text" name="Answer" value="" class="form-control" placeholder="Answer" />
    <input type="text" name="Mark" value="" class="form-control" placeholder="Mark" />
    <input type="text" name="BackAnswer" value="" class="form-control" placeholder="BackAnswer" />
    <input type="text" name="Comment" value="" class="form-control" placeholder="Comment" />

    <input type="date" name="Date" value="" class="form-control" placeholder="DATE" />

    <button type="submit" class="btn btn-success">Submit</button>


</form>