
@{
    ViewBag.Title = "M_MentorNotice";
}

<h2>M_MentorNotice</h2>

<form action="" method="post">
   
    <input type="text" name="Details" value="" class="form-control" placeholder="DETAILS" />
    <input type="date" name="Date" value="" class="form-control" placeholder="DATE" />

    <button type="submit" class="btn btn-success">Submit</button>

</form>