
@{
    ViewBag.Title = "M_MentorStudentReview";
}

<h2>M_MentorStudentReview</h2>


<form action="" method="post">
    
    <input type="text" name="FeedBack" value="" class="form-control" placeholder="FeedBack" />
    <input type="date" name="Date" value="" class="form-control" placeholder="DATE" />

    <button type="submit" class="btn btn-success">Submit</button>

</form>