
@{
    ViewBag.Title = "M_MentorAssignmentList";
}

<h2>M_MentorAssignmentList</h2>


<table class="table">
    <thead>
        <tr>
            <th scope="col">Assignment ID</th>
            <th scope="col">Question</th>
            <th scope="col">Date</th>
        </tr>
    </thead>
    <tbody class="table-group-divider">
       
        @foreach (var p in Model)
        {
            <tr>
                <th scope="row">@p.Id</th>

                <th>@p.Question</th>
                <th>@p.Date</th>
                <th>
                    <a class="btn btn-warning" href="~/M_Mentor/M_MentorTrackStudent/@p.Id" role="button">Submitted StudentList</a>
                </th>
            </tr>
     
  
    }


        </tbody>
    </table>